<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- context listener needed for redirection of JUL to slf4j to prevent performance problems -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.sothawo" level="DEBUG" />

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>

</configuration>
